<div class="row navbar player-extra-spacing" id="navbar" data-turbolinks-permanent>

  <div class="three columns">
    <a href="/"><div class="logo"></div></a>
  </div>

  <div class="one columns">&nbsp;
    <div class="vert-divider"></div>
  </div>

  <div class="two columns">
    <ul class="navbar-list">
	    <li><%= link_to 'ABOUT', '/about' %></li>
	    <li><%= link_to 'HISTORY', '/history' %></li>
      <li><%= link_to 'INTERVIEWS', '/interviews' %></li>
	    <!-- <li><%= link_to 'RECORDING STUDIO', '/recording-studio' %></li> -->
	</ul>
  </div>

  <div class="two columns">
    <ul class="navbar-list">
      <li><%= link_to 'SCHEDULE', 'https://docs.google.com/spreadsheets/d/1YCCF0MsiyNA-mPNQaLAQUCis2Nt71EHZfFDQmWcT5nM/pubhtml?gid=1862243323&single=true' %></li>
      <li><%= link_to 'JOINING US', '/join' %></li>
      <li><%= link_to 'PROGRAMS', '/programs' %></li>
    	
    </ul>
  </div>

  <div class="two columns">
  	<ul class="navbar-list">
  		<li><%= link_to 'SPONSORSHIP', '/events/sponsorship' %></li>
      <li><%= link_to 'EVENTS', '/events' %></li>
  		<!-- <li><%= link_to 'TOP CHARTS', '/top-charts' %></li> -->
  		<li><%= link_to 'YOUR MUSIC', '/your-music' %></li>

    </ul>
  </div>

  <div class="two columns">
  	<ul class="navbar-list">
  		<!-- <li><%= link_to 'UNDERWRITING', '/underwriting' %></li> -->
  		<!-- <li><%= link_to 'TECHNOLOGY', '/technology' %></li> -->
      <li><%= link_to 'TEAM', '/team' %></li>
  		<li><%= link_to 'CONTACT', '/contact' %></li>
    </ul>
  </div>

</div>
