<div class="row">
	
	<div class="twelve columns covercontainer">
		<%= tag :img, :src => program["cover_image"], :class => "coverimage" %>
	</div>
</div>
<div class="row program-info">
	<div class="twelve columns">
		<h1><%= program['name'] %></h1>
	</div>
	<div class="ten columns offset-by-one">
		<p><% if not program['description'].nil?%> <%= Tilt['markdown'].new { program['description'] }.render  %> <% end %></p>
	</div>
</div>

	<div class="program-episodes">
		<% program['episodes'].sort { |a,b| a['pubdate'] <=> b['pubdate'] }.reverse.each do |episode| %>
		<div class="row">
			<div class="three columns offset-by-one">
				<a href="/<%=program['shortname']%>/<%=episode['id']%>">
				<% if not (episode['image'].nil? or episode['image'].eql?("")) %>
				<%= tag :img, :src => episode['image'], :style => "width: 100%" %>
				<% else %>
				<renan></renan>
				<%= tag :img, :src => program['image'], :style => "width: 100%" %>
				<% end %>
				</a>
				<br>
				<br>
				<p>
					<i class="fa fa-calendar"></i> <strong>Released on</strong> <%= DateTime.parse(episode['pubdate']).strftime("%b %-d, %Y") %><br>
					<% if episode["audio_url"].to_s.strip.length != 0 %>
						<i class="fa fa-clock-o"></i> <strong>Length:</strong> <%= episode['length'] %><br>
						<i class="fa fa-download"></i><a href="<%= episode["audio_url"] %>">Download episode</a>
					<% end %>
					</p>
			</div>
			<div class="seven columns">
					<a style="text-decoration:none" href="/<%=program['shortname']%>/<%=episode['id']%>"><h3><%= episode['name'] %></h3></a>

					<p><% if not episode['description'].nil?%> <%= Tilt['markdown'].new { episode['description'] }.render  %> <% end %></p>
					<% if episode["audio_url"].to_s.strip.length != 0 %>
					<audio class="episode-audio" controls preload="none">
					  <source src="<%= episode["audio_url"] %>" type="<%= episode["type"] %>">
					</audio>
					<% end %>
			</div>
		</div>
		<div class="line ten columns offset-by-one"></div>
	<% end %>
</div>
