---
title: WJRH
---

<div class="row">
	<div class="twelve columns">
		 <%= tag :img, :src =>  data.domains.media + "/website-highlight/grooms.jpg"%> 
		<!-- <video src="<%= data.domains.media %>/video/hcm2.mp4" autoplay loop muted width="960"></video> -->
	</div>
</div>
<div class="row main-title">
	<div class="twelve columns">
		<h1>More Music in 2016: Grooms</h1>
	</div>
	<div class="ten columns offset-by-one column">
		<p>In our 70th year, we're bringing the best music from the east coast to Lafayette, starting with <a href="https://www.facebook.com/groomsmusic/">Grooms</a>. This cool trio is they're a noise pop/rock band from Brookyln and we're super excited to have them perform at Lafayette. <%= link_to 'more events', '/events' %>.</p>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		 <%= tag :img, :src =>  data.domains.media + "/website-highlight/sene.jpg"%> 
		<!-- <video src="<%= data.domains.media %>/video/hcm2.mp4" autoplay loop muted width="960"></video> -->
	</div>
</div>
<div class="row main-title">
	<div class="twelve columns">
		<h1>Coming up in March: denitia and sene.</h1>
	</div>
	<div class="ten columns offset-by-one column">
		<p>Formed in 2011, the Brooklyn-based group <a href="http://www.denitiaandsene.com/">denitia and sene.</a> has released one full-length album, a handful of singles, and two EPs—all of which show off the band’s ability to move seamlessly between pure pop, subdued electronica, and slinky R&amp;B with a sound that brings to mind everything from Massive Attack, The Fugees, or the shadowy late-night atmospherics of The XX. You will see them live on campus in march. <%= link_to 'more events', '/events' %>.</p>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		 <%= tag :img, :src =>  data.domains.media + "/vbb/vbb-cover.jpg"%> 
		<!-- <video src="<%= data.domains.media %>/video/hcm2.mp4" autoplay loop muted width="960"></video> -->
	</div>
</div>
<div class="row main-title">
	<div class="twelve columns">
		<h1>Listen: Various Breads and Butters</h1>
	</div>
	<div class="ten columns offset-by-one column">
		<p>Simon Tonev and B.R. Cohen talk to each other and humans about important things, solving problems, taking quizzes, learning lessons on Lafayette College's WJRH. <%= link_to 'view show', '/vbb' %>.</p>
	</div>
</div>


<!-- <div class="row featured">
	<div class="four columns">
		<video src="<%= data.domains.media %>/video/disco.mp4" autoplay loop muted width="300"></video>
		<h6>Mondays at 5PM</h6>
		<h4>BassIQ Radio with Saleem James</h4>
		<p>From dance to electronic to lounge, Saleem James presents his eclectic taste in music in this show. Perfect for speeding on the autobahn or for romanticizing a life on another planet, or maybe just in another country.</p>
	</div>
	<div class="four columns">
		<video src="<%= data.domains.media %>/video/newspaper.mp4" autoplay loop muted width="300"></video>
		<h6>Special Report</h6>
		<h4><a href="http://newspaper.wjrh.org">Situation of the Newspaper  <i class="fa fa-external-link"></i></a></h4>
		<p>The Lafayette, the oldest student newspaper in Pennsylvania, came up with an unexpected announcement saying that they are in threat of shutting down because of underfunding. Listen to a response from the Student Government Treasurer Ricky Lanzilotti. Interview by Ivan Evtimov and The Jay.</p>
	</div>
	<div class="four columns">
		<video src="<%= data.domains.media %>/video/indie.mp4" autoplay loop muted width="300"></video>
		<h6>Mondays at 4PM</h6>
		<h4>Indie Dependent with DJ El Train</h4>
		<p>A source of all things indie and obscure, Indie Dependent aims to bring music you may not have heard to your ears. Some of it's mellow and chill, some of it's odd and off-the-wall, and all of it's less than mainstream. Listen to Indie Dependent every Monday at 4 pm and you're guaranteed to stay weird.</p>
	</div>
</div> -->
