---
title: WJRH
---
<div class="row">
  <div class="twelve columns">
    <video autoplay loop muted>
      <source src="http://wjrh.org.s3.amazonaws.com/fa370c6a168efad0ac71dcc54615567f.ogv"/>
      <source src="http://wjrh.org.s3.amazonaws.com/6a9615f30476f8ef7f3f47d2206e612f.mp4"/>
    </video>
  </div>
</div>
<div class="row main-title">
	<div class="twelve columns">
		<h1> Spring 2022 Shows are in Swing !</h1>
	</div>
	<div class="ten columns offset-by-one column">
		<p> Spring 2022 shows have begun! Check the schedule tab to see when your favorite shows go live! As always, you can keep listening to our pre-recorded shows online:  <%= link_to 'View recorded programs', '/programs' %>.</p>
	</div>
</div>
<div class="row">
    <% @programs.sample(4).each do |program| %>
    <div class="three columns">
    	<a href="/<%=program['shortname']%>"><%= tag :img, :src => program['image'], :style => "width: 100%" %></a>
  		<a href="/<%=program['shortname']%>"><h6><%= program['name'] %></h6></a>
  		</div>
    <% end %>
</div>
